@import "./../msb-variables.scss";
@import "./../msb-utility-styles.scss";

/* Top app bar */
/*
.msb-app-bar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 24px;
    height: 64px;
    @include msb-primary;
	h1 {
		@include msb-nav-heading-on-dark();
	}
  &[fixed="true"] {
    top: 0;
    width: 100%;
    z-index: 16;
    +main {
      padding-top: 48px;
    }
  }
}
*/

.msb-app-bar {
  width: 100%;
  background-color: $msb-primary;
  @include msb-primary;
  h1 {
    padding: 0;
    margin: 0;
   @include msb-nav-heading-on-dark();
  }
  @media only screen and (max-width: 599px) {
    height: 3.5rem;
    padding: 1rem;
  }
    @media only screen and (min-width: 600px) {
    height: 4rem;
    padding: 1.25rem;
  }
}
