@import "./msb-variables.scss";
//variables
$msb-color-default: gray;
$msb-color: red;

//sass map for radio button icons
//svg code include to allow re-color as background images
$icons: (
  "radio-off":
    '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" fill="#{$msb-color-default}" /></svg>',
  "radio-on":
    '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" fill="#{$msb-color}" /><circle cx="12" cy="-12" r="5" class="color-on" fill="#{$msb-color}" /></svg>',
);
$data-svg-prefix: "data:image/svg+xml;utf-8,";