@import "./msb-variables.scss";
/* BUTTONS */
/* common */
$msb-button-background-disabled: rgba(0, 0, 0, 0.03);

/* Buttons: high-emphasis */
/* Large */
@mixin msb-button-large {
	border-radius: $msb-radius;
	padding: 0px 16px;
	height: 48px;
	text-align: center;
	margin-bottom: 16px;
	min-width: 64px;
	box-sizing: border-box;
}

@mixin msb-button-large-high-emphasis {
	border: none;
	@include msb-button-large;
	@include msb-button-text-large-enabled-on-dark;
	background: $msb-secondary;
	cursor: pointer;
	&:hover {
		background: $msb-secondary-darker;
	}
}

@mixin msb-button-large-high-emphasis-disabled {
	@include msb-button-large;
	@include msb-button-text-large-disabled-on-light;
	background: $msb-button-background-disabled;
}

/* Small */

/* Buttons: mid-emphasis */
/* Large */
@mixin msb-button-large-mid-emphasis {
	@include msb-button-large;
	@include msb-button-text-large-enabled-on-light;
	border: 1px solid $msb-secondary;
	cursor: pointer;
	&:hover {
		background: rgba(0, 0, 0, 0.05);
	}
}

/* Small */

/* Buttons: low-emphasis */
/* Large */
@mixin msb-button-large-low-emphasis {
	@include msb-button-large;
	@include msb-button-text-large-enabled-on-light;
	text-decoration: none;
	padding-top: 16px;
	padding-bottom: 16px;

	&:hover {
		background: rgba(0, 0, 0, 0.05);
	}

	&:focus {
		outline: none;
		border: 1px solid $msb-button-border-enabled-on-light;
	}
}

/* Small */



//default button styling

  @mixin msb-button-mixin() {
    border-radius: $msb-radius;
    background-color: $msb-surface-light;
  }

  @mixin msb-button-large-size-mixin() {
    @include msb-button-mixin();
    padding: 2px 16px 1px;
    height: 48px;
  }

  @mixin msb-button-medium-size-mixin() {
    @include msb-button-mixin();
    padding: 2px 8px 1px;
    height: 36px;
  }

  @mixin msb-button-high-emphasis-mixin() {

  }
  @mixin msb-button-mid-emphasis-mixin() {

  }



  @mixin msb-button-medium-high-emphasis-mixin() {
    @include msb-button-medium-size-mixin();

  }

  @mixin msb-button-medium-mid-emphasis-mixin(){
     @include msb-button-medium-size-mixin();
     /@include msb-button-text-enabled-on-light();
     border: $msb-button-border-enabled-on-light;
     color: $msb-button-text-on-light;
  }

  @mixin  msb-button-medium-low-emphasis-mixin(){

  }

  @mixin msb-button-medium-low-emphasis-mixin(){

  }


  @mixin  msb-button-large-high-emphasis-mixin(){

  }

  @mixin  msb-button-large-mid-emphasis-mixin(){

  }


  @mixin  msb-button-large-low-emphasis-mixin(){

  }

  @mixin  msb-button-large-low-emphasis-mixin(){

  }

  input[type="button"],[type="submit"] {
    @include msb-button-medium-mid-emphasis-mixin();
  }