<div class="msb-basic-layout">
<header class="msb-app-bar">
  <h1 class="msb-app-bar-title">Ambience système</h1>
</header>
<div class="msb-body">
  <nav class="msb-nav">
    <ul>
      <li><a href="#section-1-heading">Section one</a></li>
      <li><a href="#section-2-heading">Section two</a></li>
      <li><a href="#section-3-heading">Section three</a></li>
    </ul>
  </nav>
  <main class="msb-main">
    <div class="msb-main-content">


<p>Standard markup and 'css component' styles and mixins to progressively elevate your code without the overhead</p>

<!--
******************* ACCORDIONS *************************
-->
<h2 id="accordion-section" name="accordion-section">Accordions</h2>
<section></section>

<!--
******************* APP BARS *************************
-->

<h2 id="app-bar-section" name="app-bar-section">App bars</h2>
<section></section>

<!--
******************* BUTTONS *************************
-->
<h2 id="button-section" name="button-section">Buttons</h2>
<section></section>
<section class="msb-example-panel">
  <div class="msb-example-page">
    <h1>Buttons</h1>
    <h2>Default</h2>
    <p>
      Set mid-emphasis styling to apply to all existing, non-image button
      elements by default
    </p>
    <section>
      <div>
        <input type="button" value="Enabled">
        <input type="button" value="Disabled" disabled="true">
      </div>
    </section>
    <section>
      <h2>Button mixins</h2>
      <p>
        Apply to existing (legacy) css classes. Replace style properties
        inexisting css class with mixin to override; careful to not replace
        contextual, layout styles only button styling
      </p>
      <h3>Medium</h3>
      <section>
        <input class="legacyButtonMediumClassHighEmphasis" type="button" value="High emphasis" /><input
          class="legacyButtonMediumClassMidEmphasis" type="button" value="Mid emphasis" /><input
          class="legacyButtonMediumClassLowEmphasis" type="button" value="Low emphasis" /><input
          class="legacyButtonMediumClassDisabled" disabled="" type="button" value="Disabled" />
      </section>
      <h3>Large</h3>
      <section>
        <input class="legacyButtonLargeClassHighEmphasis" type="button" value="High emphasis" /><input
          class="legacyButtonLargeClassMidEmphasis" type="button" value="Mid emphasis" /><input
          class="legacyButtonLargeClassLowEmphasis" type="button" value="Low emphasis" /><input
          class="legacyButtonLargeClassDisabled" disabled="" type="button" value="Disabled" />
      </section>
      <h2>Icon butons</h2>
      <p>Inputs (type='image') with a transparent placeholder gif replaced with an svg background image via css
      </p>
      <section>
        <input type="image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
          title="save" alt="save" />

        <input type="image" src="../../assets/img/save.svg" title="save" alt="save" />
      </section>
      <h3>CSS button classes</h3>
      <p>
        Apply to new or problementatic, existing elements on legacy pages
      </p>
      <h3>Example</h3>
      <p>Preferred form disposition styling</p>
      <section>
        <div>
          <input class="msb-button-medium-high-emphasis" type="button" value="Save" /><input type="button"
            value="Cancel" /><input class="msb-button-low-emphasis" type="button" value="Delete" /><input disabled=""
            type="button" value="Disabled" />
        </div>
      </section>
    </section>
  </div>
</section>

<!--
******************* CARDS *************************
-->
<h2 id="card-section" name="card-section">Dialogs</h2>
<section></section>

<!--
******************* CHECKBOXES *************************
-->
<h2 id="checkbox-section" name="checkbox-section">Dialogs</h2>
<section></section>



<!--
******************* CHIPS *************************
-->
<h2 id="dialog-section" name="dialog-section">Dialogs</h2>
<section></section>


<!--
******************* DATA TABLES *************************
-->
<h2 id="data-tables-section" name="data-tables-section">Data tables</h2>
    <section class="msb-example-panel">
      <div class="msb-example-page">
        <table class="msb-data-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Job</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Carolina Biggleswade</td>
              <td>23</td>
              <td>65</td>
              <td>Jockey</td>
            </tr>
            <tr>
              <td>Harry Sparrowhead</td>
              <td>34</td>
              <td>89</td>
              <td>Trainer</td>
            </tr>
            <tr>
              <td>Marjorie Doors</td>
              <td>32</td>
              <td>76</td>
              <td>Yard Manager</td>
            </tr>
            <tr>
              <td>Earnest Piggington-Smithe</td>
              <td>18</td>
              <td>98</td>
              <td>Groom</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

<!--
******************* DIALOGS *************************
-->
<h2 id="dialog-section" name="dialog-section">Dialogs</h2>
<section></section>

<!--
******************* EXPANSION PANELS *******************
-->
<h2 id="expansion-panel-section" name="expansion-panel-section">Expansion panels</h2>
<section></section>

<!--
******************* ICONS *************************
-->
<h2 id="icon-section" name="icon-section">Icons</h2>
<section></section>

<!--
******************* INPUTS *************************
-->
<section class="msb-example-panel">
  <div class="msb-example-page">
    <h1>Inputs</h1>
    <p>Form control examples</p>
    <h3>Text fields</h3>
    <section>
      <fieldset>
        <input type="text" name="name" placeholder="Name">
        <label for="name">Name</label>
        <p>Assistive text</p>
      </fieldset>
    </section>
    <section class="text-field-inputs-overrides">
      <h2>Inputs: text fields</h2>
      <fieldset>
        <input placeholder="Date" type="date" />
        <label for="date">Date</label>
      </fieldset>
      <fieldset>
        <input placeholder="Datetime-local" type="datetime-local" />
        <label for="datetime-local">Datetime-local</label>
      </fieldset>
      <fieldset>
        <input placeholder="Email" type="email" />
        <label for="email">Email</label>
      </fieldset>
      <fieldset>
        <input placeholder="File" type="file" />
        <label for="file">File</label>
      </fieldset>
      <fieldset>
        <input placeholder="Month" type="month" />
        <label for="month">Month</label>
      </fieldset>
      <fieldset>
        <input placeholder="Number" type="number" />
        <label for="number">Number</label>
      </fieldset>
      <fieldset>
        <input placeholder="Password" type="password" />
        <label for="password">Password</label>
      </fieldset>
      <fieldset>
        <input placeholder="Search" type="search" />
        <label for="search">Search</label>
      </fieldset>
      <fieldset>
        <input placeholder="Telephone" type="tel" />
        <label for="tel">Telephone</label>
      </fieldset>
      <fieldset>
        <input placeholder="Text" type="text" />
        <label for="text">Text</label>
      </fieldset>
      <fieldset>
        <input placeholder="Time" type="time" />
        <label for="time">Time</label>
      </fieldset>
      <fieldset>
        <input placeholder="URL" type="url" />
        <label for="url">URL</label>
      </fieldset>
      <fieldset>
        <input placeholder="Week" type="week" />
        <label for="week">Week</label>
      </fieldset>
    </section>
    <section>
      <h2>Form element overrides</h2>
      <p>Override existing css classes with css component mixin for inputs.</p>
      <div>
        <label for="textFieldOverrideOne">Text field override one</label>
        <input type="text" name="textFieldOverrideOne" id="TextFieldOverrideOne">
      </div>
    </section>
<section>
  <h3>Form elements: other</h3>
  <fieldset>
    <input placeholder=" " type="radio" />
    <label for="radio">Radio</label>
  </fieldset>
  <fieldset>
    <input placeholder=" " type="range" />
    <label for="range">Range</label>
  </fieldset>
  <fieldset>
    <input placeholder=" " type="reset" />
    <label for="reset">Reset</label>
  </fieldset>
  <fieldset>
    <input placeholder=" " type="submit" />
    <label for="submit">Submit</label>
  </fieldset>
  <fieldset>
    <input placeholder=" " type="“button”" />
    <label for="“button”">Button</label>
  </fieldset>
  <fieldset>
    <input placeholder=" " type="checkbox" />
    <label for="checkbox">Checkbox</label>
  </fieldset>
  <fieldset>
    <input placeholder=" " type="color" />
    <label for="color">Color</label>
  </fieldset>
  <fieldset>
    <input placeholder=" " type="hidden" />
    <label for="hidden">Hidden</label>
  </fieldset>
  <fieldset>
    <input placeholder=" " type="image" />
    <label for="image">Image</label>
  </fieldset>
</section>
<h3>Select menus (aka dropdowns)</h3>
  <section>
    <fieldset>
      <select name="state" value="0">
        <optgroup>
          <option value="0">State</option>
        </optgroup>
        <optgroup label="Select state">
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </optgroup>
      </select>
      <label for="state">State</label>
      <p>Assistive text</p>
    </fieldset>
  </section>
  </div>
</section>
<section class="msb-example-panel">
  <div class="msb-example-page">
    <section>
    <h2>Selection controls</h2>
    <p>Checkboxes, radio buttons, switches</p>
    <h3>Checkboxes</h3>
    <p>Html input type="checkbox" does not provide many css style override options. This example sets the visibility of
      the input to 0 (so that it is still accessible) and then uses svg icons to replace with material-like checkboxes
    </p>
    <h3>Radio buttons</h3>
    <p>Html input type="radio" does not provide many css style override options. This example sets the visibility of
      the input to 0 (so that it is still accessible) and then uses svg icons to replace with material-like radio
      buttons</p>
    <section>
      <fieldset>
        <legend>Radio button group one</legend>
        <fieldset>
          <input type="radio" id="radio1" name="radiogroup1" value="radio1">
          <label for="radio1">One</label><br>
        </fieldset>
        <fieldset>
          <input type="radio" id="radio2" name="radiogroup1" value="radio2">
          <label for="radio2">Two</label>
        </fieldset>
        <fieldset>
          <input type="radio" id="radio3" name="radiogroup1" value="radio3">
          <label for="radio3">Three</label>
        </fieldset>
      </fieldset>
      
    </section>
    </section>
  </div>
</section>
<h2>Legacy form emulation</h2>
    <section class="msb-example-panel">
      <form class="msb-example-page">
        <div class="twoColL">
          <table>
            <tr>
              <td>Label</td>
              <td><input type="text" /></td>
            </tr>
          </table>
        </div>
      </form>
    </section>

    <h2>Icons & images</h2>
    <section class="msb-example-panel">
      <div class="msb-example-page">
        <h3>Background SVG's</h3>
        <i class="" title="save"></i>
        <input type="image" title="save">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" title="save">

        <h3>Images, icons & icon buttons</h3>
        <p>Study in how to override an existing image with a new svg one by placing a transparent image. and
          replacing
          it with an svg background image. (note: stackblitz doesn't allow image formats other than svgs so encoding
          a
          gif as data for this example.</p>
        <div>
          <img alt="save" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </div>
        <div>
          <input type="image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </div>

        <h3>::before & ::after SVG's</h3>


      </div>
    </section>

    <h2>Complex form example</h2>
    <section>

    </section>


<!--
******************* MENUS *************************
-->
<h2 id="menu-section" name="menu-section">Menus</h2>
  <section class="msb-example-panel">
    <div class="msb-menu">
      <ul>
        <li *ngFor="let i of menuItems">{{ i.label }}</li>
      </ul>
    </div>
  </section>


<!--
******************* MODALS *************************
-->
<h2 id="modal-section" name="modal-section">Modals</h2>
<section></section>

<!--
******************* POPOVERS *************************
-->
<h2 id="popover-section" name="popover-section">Popovers</h2>
    <section class="msb-example-panel">
      <div class="msb-popover">
        this
      </div>
      <ul class="msb-menu">
        <li *ngFor="let i of menuItems"><a href="{{ i.link }}">{{ i.label }}</a></li>
      </ul>

    </section>

<!--
******************* RADIO BUTTONS *************************
-->
<h2 id="radio-button-section" name="radio-button-section">Radio buttons</h2>
<section></section>

<!--
******************* TABS *************************
-->
<h2 id="tab-section" name="tab-section">Tabs</h2>
<section></section>

<!--
******************* TOOLBARS *************************
-->


      <h3 id="section-1-heading" name="section-1-heading">Section one</h3>
      <section>

      </section>

      <h3 id="section-1-heading" name="section-2-heading">Section two</h3>
      <section>
        
      </section>

      <h3 id="section-1-heading" name="section-3-heading">Section three</h3>
      <section>
        
      </section>
      <footer class="msb-footer">
      <p class="copyright">Copyright 2020 Michael Scott Burke &copy;. All rights reserved.</p>
    </footer>
    </div>
  </main>
</div>
</div>