<div class="msb-basic-layout">
<header class="msb-app-bar">
  <h1 class="msb-app-bar-title">Ambience système</h1>
</header>
<div class="msb-content-container">
  <nav class="msb-nav">
    <ul>
      <li><a href="#section-1-heading">Section one</a></li>
      <li><a href="#section-2-heading">Section two</a></li>
      <li><a href="#section-3-heading">Section three</a></li>
    </ul>
  </nav>
  <main class="msb-main">
    <div class="msb-main-content">

      <h3 id="section-1-heading" name="section-1-heading">Section one</h3>
      <section>

      </section>

      <h3 id="section-1-heading" name="section-2-heading">Section two</h3>
      <section>
        
      </section>

      <h3 id="section-1-heading" name="section-3-heading">Section three</h3>
      <section>
        
      </section>
    </div>
    <footer class="msb-footer">
      <p class="copyright">Copyright 2020 Michael Scott Burke &copy;. All rights reserved.</p>
    </footer>
  </main>
</div>
</div>