.msb-basic-layout {
  nav {
    display: inline-block;
    height: 100%;
    width: 256px;
    max-width: 256px;
    min-width: 256px;
    background-color: #333;
  }
  .msb-content {
    width: 100%;
  }
  header {

  }
  main {

  }
  footer {

  }
}